h1 {
	font-size: 27.5px;
	font-weight: 700;
	width: 250px;
	margin-top: 0;
	padding-bottom: 20px;
	background-color: #C49E2A;
	background: linear-gradient(90deg, #F8CD38, #C49E2A);
	background-size: 100%;
	background-clip: text;
	-moz-text-fill-color: transparent;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
}

h1 {
	overflow: hidden;
	white-space: nowrap;
	animation: typing 1s steps(20, end), blink-caret .75s step-end infinite;
  }

.loader {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
  
  @keyframes typing {
	from { width: 0; }
	to { width: 100%; }
  }
  
  @keyframes blink-caret {
	from, to { border-color: transparent; }
	50% { border-color: black; }
  }
  
  .typing-text::after {
	content: "|";
	animation: blink-caret .75s step-end infinite;
  }