.containerDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-content: center;
    color: black;
}

.insideContainerDetails{
display: flex;
flex-direction: column;
align-self: center;
width: 100%;
@media screen and (min-width: 1000px) {
    width: 80%;
}

}


h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}
h6 {
    font-size: 16px;
    font-weight: 600;
}

/* --------------------------------- */
/* title + category + info prep time */

.mainCtn {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.containerTitle {
    display: flex;
    flex-direction: column;
}

.itemName {
    font-size: 26px;
    margin-top: 25px;
    padding-left: 0;
}

.itemCategory {
}


.containerInfo{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.insideInfo {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}


/* .mainCtn img {

} */

/* .detailsCtn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: 25px;
} */




.itemPrep {
}


.itemCook {
}


.itemServ {

}

/* --------------------------------- */



/* .itemDiff {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.itemDiff span {
    font-weight: 400;
} */

/* .itemLike {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
    align-items: center;
}
.itemLike span {
    font-weight: 600;
    margin-left: 5px;
} */


/* --------------------------------- */
/* ingredients + directions + image */

.secondContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.containerIngr {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
}

.containerIngr li {
    list-style-type: none;
}


.itemIngr li {
    padding: 3px 0;
    margin: 0px;
    list-style-type: none;
}

.containerDirec {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);}



.itemStep {
    display: flex;
    flex-direction: column;
}
.containerDirec li {
    display: flex;
    flex-direction: row;
}

.stepText {
    padding-left: 5px;
}

.containerImage {
    width: calc(100% / 3);
    padding: 10px 40px 10px 40px;
}
 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: solid 1px black;

 }

/* --------------------------------- */


.itemNote {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-left: 30px;
}
.itemNote span {
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    background-color: #414066;
    color: white;
    width: 200px;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Rubik';
    text-decoration: none;
    border: 0;
}

.video {
    margin: auto;
}

.facts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-inline: 10px;
    margin-block: 50px;
}

.nutritionContainer {
    text-align: center;
    border: 2px solid black;
    margin-inline: 150px;
}

.table {
    width: 100%;
    margin: 20px auto;
    margin-bottom: 0;
    padding: 0 10px;
    table-layout: auto;
}
.table td,
th {
    border: 1px solid;
}
.table th {
    padding-block: 5px;
    padding-inline: 0;
    text-align: center;
    align-items: center;
    font-size: 16px;
}
.tableLeft {
    text-align: left;
    padding-left: 5px;
    padding-block: 3px;
    font-size: 14px;
}
.tableRight {
    text-align: right;
    padding-right: 5px;
    padding-block: 3px;
    font-size: 14px;
}
.tableNote {
    font-size: 12px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 15px;
}
