.containerDetails {
    margin: auto;
    padding-inline: 50px;
    width: 1200px;
    align-content: center;
    margin-bottom: 50px;
}

.mainCtn {
    display: flex;
    margin-top: 50px;
}
.mainCtn img {
    width: 320px;
    height: auto;
    max-height: 400px;
    max-width: auto;
    object-fit: cover;
}

.detailsCtn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-left: 25px;
}

.itemName {
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.itemCategory {
    font-size: 22px;
    margin-bottom: 15px;
}

.itemRating {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}
.itemRating span {
    font-weight: 400;
}

.itemPrep {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.item-prep span {
    font-weight: 400;
}

.itemCook {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.itemCook span {
    font-weight: 400;
}

.itemDiff {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.itemDiff span {
    font-weight: 400;
}

.itemServ {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.itemServ span {
    font-weight: 400;
}

.itemIngr {
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.itemIngr span {
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}
.itemIngr span li {
    padding: 3px 0;
    margin-top: 5px;
}

.directionsCtn {
    margin-top: 20px;
}
.directionsCtn h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

.itemStep {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 100px;
}
.itemStep span {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px;
}

.itemNote {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 50px;
    margin-left: 30px;
}
.itemNote span {
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    background-color: #414066;
    color: white;
    width: 200px;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 500;
    font-family: 'Rubik';
    text-decoration: none;
    border: 0;
}
