.container {
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 250px;
    height: 430px;
    border-radius: 20px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: white;
    box-sizing: border-box;
}

.figure {
    width: 100%;
    height: 240px;
    margin: 0;
}

.cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 190px;
}

.image {
    display: block;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:none;
}

.name {
    color:  var(--light-theme-heading-text-color);
    font-family: 'Rubik';
    font-size: 24px;
    font-weight: 500;
    text-wrap: wrap;
    text-align: center;
    min-height: 75px;
    padding: 4px 10px 0 10px;
    margin: 0;
    padding-bottom: 10px;
    width: 100%;
}

.rating {
    font-family: 'Rubik';
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCtn {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.btn {
    background-color:  var(--light-theme-heading-text-color);
    color: var(--light-theme-button-text-color);
    padding: 8px 16px;
    border-radius: 40px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Rubik';
    text-decoration: none;
    border: 0;
}

.dark-btn {
    background-color: var( --dark-theme-button-bg-color);
    color: var( --dark-theme-button-text-color);
}

.dark-name {
    color: var( --color-white);
}

.dark-theme {
    background-color: var(--dark-theme-background-color);
    border: 1px solid var( --color-white);
    color: var( --dark-theme-primary-text-color); 
}