.container {
    font-family: var(--heading-text-font);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
    @media screen and (min-width: 1000px) {
        width:80%;
        align-self: center;           
    }
}


.title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    @media screen and (min-width: 1000px) {
    text-align: left;            }
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top:20px;
    width: 80%;
    padding: 0;
    gap: 20px;
    @media screen and (max-width: 800px) {
        justify-content: center;
        width: 100%;

            }
}

.recipe {
    width: 200px;
    height: 280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.image {
    border-radius: 20px 20px 0 0;
    width: 200px;
    height: 200px;
}

.recipeName {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    text-wrap: wrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 65px;
    margin-inline: 5px;
}
