<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="My minimalist and youthful web design portfolio">
  <meta name="keywords" content="web design, portfolio, minimalist, youthful">
  <title>My Portfolio</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
	<script defer src="app.js"></script>
</head>
<body>
  <header>
    <button
        class="theme-switch"
        type="button"
        aria-pressed="false"
        aria-label="Use Dark Mode"
        >
  <svg
       xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="currentColor"
       stroke-width="2"
       stroke-linecap="round"
       stroke-linejoin="round"
       aria-hidden="true"
       focusable="false"
       >
    <path d="M21 13A9 9 0 1 1 11 3a7 7 0 0 0 10 10z" />
  </svg>
  <svg
       xmlns="http://www.w3.org/2000/svg"
       width="24"
       height="24"
       viewBox="0 0 24 24"
       fill="none"
       stroke="currentColor"
       stroke-width="2"
       stroke-linecap="round"
       stroke-linejoin="round"
       aria-hidden="true"
       focusable="false"
       >
    <circle cx="12" cy="12" r="5" />
    <path
          d="M12 1v2m0 18v2M4 4l2 2m12 12 2 2M1 12h2m18 0h2M4 20l2-2M18 6l2-2"
          />
  </svg>
</button>
  </header>
<main>
  <ul class="flex-container">
       <li class="flex-item">
           <h2>A six years journey.</h2></li>
           <button class="peel"></button>
       <li class="flex-item"> 
           <p>I traveled a long way to be here. I left 6 years ago looking to join local music scenes. That's always been my only true compass.</p>
           <p class="p-display hidden">Cluj, Romania -> Eastbourne -> Brighton -> Bristol -> London. </p>
           </li>
  </ul>
  <ul class="flex-container">
    <li class="flex-item">
        <h2>I never had a developer job.</h2></li>
        <button class="peel"></button>
    <li class="flex-item"> 
      <p>My dream is to become a UI/UX designer and work alongside people on things that have meaning and share a common purpose. For it I need to learn how to work and move within a colective.</p>
      <p class="p-display hidden">I have been working in hospitality for a while. I started out as a Kitchen Porter in 2018, moving up to waiter as I got more confident with the language. I stuck to the bartender role since 2021, working all around London. I like getting out of the house and meeting people. I'm fascinated with London and how much it can teach you if you are willing to listen.</p>
      <p>I can’t do my UI/UX part without knowing how to code. I wouldn’t be able to leave my teammates struggle with a technical problem while I sit around and watch. I’d need to jump in.</p>
        </li>
</ul>
</main>
  
  <footer>
   
  </footer>
</body>
</html>