header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.divider {
    border-bottom: var(--light-theme-hr-border-bottom);
    position: absolute;
    top: 3.5rem;
    left: 0rem;
    width: 100%;
}

.dark-theme {
    background-color: var(--dark-theme-background-color);
    color: var( --dark-theme-primary-text-color);
}

/* media query for desktop */
@media only screen and (min-device-width: 768px) and (max-device-width: 6024px) {
    header {
        padding-left: 5rem;
    }
}