a {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 60px;
    width: 60px;
}

.logo {
    background: var(--light-theme-app-name-color);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--heading-text-font);
    font-weight: var(--font-weight-600);
    font-size: 2rem;
}