.container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  width: 100%;
  padding-top: 10px;
}

.text {
  font-family: 'Rubik';
  font-size: 32px;
  font-weight: 600;
  color: #303041;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

p {
  color: #393939
}

.search{
  display: flex;
  flex-direction: row;
  align-self: center;
  height: 40px;
  width: 280px;
}

.containerInput{
  display: flex;
  flex-direction: row;
  position: relative;
  height:100%;
  width: 100%;
}

input {
  border-radius: 100px;
  border: solid 1px #303041;
  padding: 5px 10px 5px 10px;
  box-shadow:  0px 4px 6px rgba(0,0,0,0.1);
  margin-right: 3px;
  width: 100%;
  height:100%;
}

input:focus {
  outline: none !important;
  border-color:#FFD900;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.imgLoupe {
  width:40px;
  height:38px;
  padding:8px;
  border:none;
  background-color:#FFD900;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.imgReset {
  width:40px;
  height:40px;
  padding:8px;
  background-color : #FFD900;
  border-radius: 100px;
  position: absolute;
  top: 1px;
  right: -3px;
  box-shadow:  0px 4px 6px rgba(0,0,0,0.1);
  border: solid 1px #303041;

}

.buttonLoupe {
  border: none;
  border-radius: 100px;
  width: 35px;
  height: 100%;
  /* margin-left: 3px; */
  position:absolute;
  right: 9px;
  top:1px;
  background-color: transparent;
}

.buttonReset {
  border-radius: 100px;
  width: 35px;
  height: 100%;
  margin-left:20px;
  background-color: transparent;
  position: relative;
  border: none;
}

.dark-text {
  color: var(--dark-theme-primary-text-color);
}