.container {
    display: flex;
    flex-direction: column;
    place-items: center;
}

/* p {
  color: #393939
 } */

input {
    border-radius: 100px;
    border: solid 1px black;
    padding: 5px 10px 5px 10px;
}
