.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    align-self: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white !important;

    @media screen and (min-device-width:1000px) {
        width:80%
    }
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the width (200px) as per your fixed card width */
    gap: 30px; /* Adjust the gap between cards */
    max-width: 100%; /* Optional: Limit the maximum width of the grid */
    padding: 20px;
}
