*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    overflow: auto;
    margin: 0;
    padding: 0;
}

#root {
    height: 100dvh;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'main'
        'footer';
    width: 100%;
}

#root>header {
    grid-area: header;
}

#root>main {
    grid-area: main;
}

#root>footer {
    grid-area: footer;
}

/* media query for desktop */
@media only screen and (min-device-width: 768px) and (max-device-width: 6024px) {
    #app>main {
        margin: auto;
        max-width: 1440px;
    }

    /* TODO: Update recipe card container class to show 3 recipe card per row */
    /* .recipe-card-container {
        grid-template-columns: repeat(3, 1fr);
    } */
}

/* html,
body {
    min-height: 100vh
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    color: black
} */