*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --heading-text-font: "Rubik Regular", sans-serif;
    --body-text-font: "Poppins Regular", sans-serif;
    --font-weight-600: 600;

    --color-white: #ffffff;
    --button-color: #414066;

    --light-theme-background-color: #faf8f8;
    --light-theme-primary-text-color: #303041;
    --light-theme-app-name-color: -webkit-linear-gradient(180deg, #F8CD38 0%, #C49E2A 100%);
    --light-theme-heading-text-color: #585858;
    --light-theme-button-bg-color: var(--button-color);
    --light-theme-button-text-color: #F5EEEE;
    --light-theme-icon-bg-color: #D4AD2E;
    --light-theme-icon-color: var(--color-white);
    --light-theme-icon-border: 3px solid var(--color-white);
    --light-theme-recipe-card-box-shadow: 0px 4px 4px 0px #00000040;
    --light-theme-hr-border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    --dark-theme-background-color: #393939;
    --dark-theme-primary-text-color: var(--color-white);
    --dark-theme-app-name-color: -webkit-linear-gradient(180deg, #FFF29C 0%, #FFDD00 100%, #FFF3A7 100%);
    --dark-theme-heading-text-color: #ECECEC;
    --dark-theme-button-bg-color: var(--color-white);
    --dark-theme-button-text-color: var(--button-color);
    --dark-theme-icon-bg-color: #FFEB69;
    --dark-theme-icon-color: #393939;
    --dark-theme-icon-border: 3px solid var(--dark-theme-icon-color);
    --dark-theme-recipe-card-box-shadow: 0px 4px 4px 0px #00000040;
    --dark-theme-hr-border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.container {
    margin-inline: auto;
    width: 1120px;
    align-content: center;
    padding-top: 150px;
    padding-bottom: 150px;
}

body {
    font-family: var(--body-text-font);
    line-height: 1.6;
    overflow: auto;
    margin: 0;
    padding: 0;
}

/* media query for desktop */
@media only screen and (min-device-width: 768px) and (max-device-width: 6024px) {
    #app>main {
        margin: auto;
    }
}

@font-face {
    font-family: "Rubik Regular";
    src: url("./assets/fonts/Rubik/static/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Poppins Regular";
    src: url("./assets/fonts/Poppins_Complete/Fonts/OTF/Poppins-Regular.otf");
}