main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 12rem);
}

/* .outlet {
    min-height: calc(100vh - 12rem);
} */

.dark-theme {
    background-color: var(--dark-theme-background-color);
    color: var( --dark-theme-primary-text-color);
}